/Kicad/65C816_Unit/65C816_Unit.sch-bak
/Kicad/65C816_Unit/fp-info-cache
/Pico/LCDBusReader/build/
/Kicad/65C816_Unit/LCD Bus Reader/Gerber
/Kicad/65C816_Unit/LCD Bus Reader/fp-info-cache
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.kicad_pcb-bak
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.sch-bak
/Kicad/65C816 Unit/fp-info-cache
/Kicad/LCD Bus Reader/fp-info-cache
/Kicad/65C816 Unit/65C816_Unit.sch-bak
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.kicad_pcb-bak
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.sch-bak
/Kicad/LCD Bus Reader/LCD Bus Reader.kicad_pcb-bak
/Kicad/LCD Bus Reader/LCD Bus Reader.sch-bak
/Kicad/65C816 Unit/65C816_Unit.kicad_pcb-bak
/Emulator65816/.vs*
/Emulator65816/Debug*
/Emulator65816/Release*
/logi6502/.idea/*
/logi6502/out/*
/Kicad/Clock/Clock-backups/*
/Kicad/Clock/_autosave-Clock.kicad_pcb
/Kicad/Computer/Computer-backups/*
*.DS_Store
/Website/HCP65_exported/*
/Kicad/Computer/SNES Device/SNES Device-backups/*
/Kicad/Computer/SNES Device/#auto_saved_files#
/Kicad/*.bak
/Website/index.html_backup
/logi65816/.idea
*.~lock.*
/Kicad/Computer/Keypad/Keypad/Keypad-backups
/Kicad/Computer/Bus Tester/Bus Tester/Bus Tester-backups
/Kicad/Computer/Bus Tester/Bus Tester-backups*
/Kicad/Computer/Clock/Clock-backups
/Kicad/Computer/Selector State/Selector State-backups
/Kicad/Computer/Clock/Clock-backups
/Kicad/Computer/Clock/#auto_saved_files#
/Kicad/Computer/Clock/_autosave*
/Kicad/Computer/Bus Tester/#auto_saved_files#
/Kicad/Computer/Blank Board/Blank Board-backups
/Kicad/Computer/Selector State/Selector State-backups
/Seven Segment/tmpcsim.im
/Seven Segment/DUALHEX7SEG.abs
/Seven Segment/DualHex7Seg.jed
/Seven Segment/DUALHEX7SEG.pdf
/Seven Segment/DUALHEX7SEG.pla
/Seven Segment/DUALHEX7SEG.sim
/Kicad/Computer/MPU Signals/MPU Signals-backups
#auto_saved_files#
/Kicad/Computer/MPU Signals/MPU Signals-backups
/Kicad/Computer/MPU Signals/fp-info-cache
/Kicad/Computer/Selector State/fp-info-cache
/Kicad/LCD Bus Reader/LCD Bus Reader-backups
/Kicad/Pico/Pico Debugger/Pico Debugger-backups
/Kicad/Keypad/Keypad-backups
/Kicad/Computer/Address Decode/Address Decode-backups
/Kicad/Computer/Address Decode/#auto_saved_files#
/Kicad/Bus Tester/Bus Tester-backups
/logi65816/.idea/
/logi65816/.idea/*
/Logicim/.idea/*
/Logicim/out
/BinReaderWriter/out/*
/Kicad/Pico/Pico Debugger 2/Pico Debugger 2-backups/*
/Kicad/Pico/Pico Sound/Pico Debugger 2-backups/*
/Kicad/Pico/Pico Sound/Pico Sound-backups/*
/Kicad/Pico/Pico Sound/#auto_saved_files#
/Kicad/Pico/Pico Sound/_autosave*
/Kicad/Computer/MPU Breakout/Blank Board-backups*
/Kicad/Computer/MPU Breakout/MPU Breakout-backups*
*#auto_saved_files#
/Kicad/Computer/Video 400x600 single/Blank Board-backups*
/Kicad/Computer/Video 400x600 single/Video 400x600 single-backups*
/Kicad/Computer/Video Timer/Blank Board-backups*
/Kicad/Computer/Video Timer/Video 400x600 single-backups*
/Kicad/Computer/Video Timer/Video Timer-backups*
/Diagrams/Row Counter.dia~
/Paneliser/Pico GPIO/Fabrication/*
/Paneliser/Pico GPIO/Pico GPIO.7z
/Kicad/*.kicad_sch-bak
/Kicad/Computer/Video Timer/*kicad_sch-bak
/Kicad/Desk Lamp/Desk Lamp-backups*
/Kicad/Computer/VIA Device/VIA Device-backups/*
/Kicad/Computer/Sound/Sound-backups/*
/Kicad/Computer/Component Boards/Memory 32KB with Output/Memory 32KB with Output-backups/*
/Kicad/Computer/Component Boards/Selector 12bit/Selector 12bit-backups/*
/Kicad/Computer/Component Boards/Counter 16bit with IO/Counter 16bit with IO-backups/*
/Kicad/Computer/Component Boards/Counter 16bit/Counter 16bit-backups/*
/Kicad/Computer/Component Boards/Counter 24bit with IO/Counter 16bit with IO-backups/*
/Kicad/Computer/Component Boards/Counter 24bit with IO/Counter 16bit-backups/*
/Kicad/Computer/Component Boards/Counter 24bit with IO/Counter 24bit with IO-backups/*
/Kicad/Computer/Component Boards/Counter 16bit with IO/Counter 16bit-backups/*
/Kicad/Computer/Component Boards/Comparator 16bit/Comparator 16bit-backups/*
/Kicad/Computer/Component Boards/Flags Enable Interrupt/Flags Enable Interrupt-backups/*
/Kicad/Computer/Sound V2/Sound-backups/*
/Kicad/Computer/Sound V2/Sound V2-backups/*
/Kicad/Computer/Component Boards/Audio DAC/Audio DAC-backups/*
/Kicad/Computer/Component Boards/Audio DAC/Counter 16bit-backups/*
/Kicad/Computer/Sound V1/Sound-backups/*
/Kicad/Computer/Sound V1/Sound V1-backups/*
/Kicad/Computer/Sound/Sound Board/Sound V2-backups/*
/Kicad/Computer/Sound/Sound Board/Sound-backups/*
/Kicad/Computer/Component Boards/Signal Buffer/Signal Buffer-backups/*
/Kicad/Computer/Sound/Sound Board/Sound Board-backups/*
/Kicad/Computer/Sound/Sound Device Select/Sound Device Select-backups/*
/Kicad/Computer/Sound/Sound Address Decode/Sound Address Decode-backups/*
/Kicad/Computer/Sound/Sound Clock/Sound Clock-backups/*
/Kicad/Computer/Old/MPU Signals/MPU Signals-backups/*
/Kicad/Computer/Old/Clock/Clock-backups/*
/Kicad/Computer/Old/Address Decode/Address Decode-backups/*
/Kicad/Computer/Old/Blank Board/Blank Board-backups/*
/Kicad/Computer/Old/Selector State/Selector State-backups/*
/Kicad/Computer/Old/SNES Device/SNES Device-backups/*
/Kicad/Computer/Async FIFO Write/Async FIFO Write-backups/*
/Kicad/Computer/Graphics/Pixel Doubler/Pixel Doubler-backups/*
/Kicad/Computer/Graphics/Pixel Doubler/Sound Clock-backups/*
/Kicad/Computer/Component Boards/Device Address Decode/Counter 16bit with IO-backups/*
/Kicad/Computer/Component Boards/Device Address Decode/Device Address Decode-backups/*
/Kicad/Computer/Component Boards/Big Board/Big Board-backups/*
/Kicad/Computer/Component Boards/Device Decode stage A/Device Decode stage A-backups/*
/Kicad/Computer/Component Boards/Device Decode stage B/Device Decode stage B-backups/*
/Kicad/Computer/Component Boards/Clock Hold Select/Clock Hold Select-backups/*
/Kicad/Computer/Component Boards/Data and Signal Buffer/Signal Buffer-backups/*
/Kicad/Computer/Component Boards/Data and Signal Buffer/Data and Signal Buffer-backups/*
/Kicad/Computer/Component Boards/Address Buffer/Address Buffer-backups/*
/Kicad/Computer/Component Boards/Address Buffer/Signal Buffer-backups/*
/Kicad/Computer/Component Boards/Address Buffer/Data and Signal Buffer-backups/*
/Kicad/Computer/Component Boards/Device Buffer/Device Buffer-backups/*
/Kicad/Computer/VIA/Via Clock Control/Via Clock Control-backups/*
/Kicad/Computer/VIA/VIA Breakout/VIA Breakout-backups/*
/Kicad/Computer/Old/VIA Device/VIA Device-backups/*
/Kicad/Computer/LCD Display/LCD Display-backups/*
/Kicad/Computer/VIA/VIA Board/VIA Board-backups/*
/Kicad/Computer/Component Boards/Device Decode Simple/Device Decode Simple-backups/*
/Kicad/Computer/Component Boards/Dual Comparator 8bit/Dual Comparator 8bit-backups/*
/Kicad/Computer/Graphics/Video Counter 12bit/Video Counter 12bit-backups/*
/Kicad/Computer/Graphics/Address Selector 24bit/Address Selector 24bit-backups/*
/Kicad/Computer/PS2/PS2 Timing/PS2 Timing-backups/*
/Kicad/Computer/PS2/PS2 FIFO/PS2 FIFO-backups/*
/Kicad/Computer/Component Boards/GPIO 4bit/GPIO 4bit-backups/*
/Kicad/Computer/PS2/PS2 Board/PS2 Board-backups/*
/Kicad/Computer/Component Boards/State Reader/State Reader-backups/*
/Kicad/Computer/Component Boards/Clock Hold Standard/Clock Hold Standard-backups/*
/Kicad/Computer/VIA/VIA Standard Clock/VIA Standard Clock-backups/*
/Kicad/Computer/MPU/HCP65 Address Decode/HCP65 Address Decode-backups/*
/Kicad/Computer/MPU/HCP65 Memory/HCP65 Memory-backups/*
/Kicad/Computer/MPU/W65C816 Breakout/W65C816 Breakout-backups/*
/Kicad/Computer/MPU/W65C816 Clock Hold/W65C816 Clock Hold-backups/*
/Kicad/Computer/MPU/HCP65 Single MPU Board/HCP65 Single MPU Board-backups/*
/Kicad/Computer/Standard PCB/Standard PCB-backups/*
/Kicad/Computer/MPU/HCP65 MPU Address Decode/HCP65 MPU Address Decode-backups/*
/Kicad/Computer/MPU/HCP65 MPU Memory/HCP65 MPU Memory-backups/*
/Kicad/Computer/MPU/HCP65 Kernal Mode/HCP65 Kernal Mode-backups/*
/Kicad/Computer/MPU/HCP65 Kernal Mode/HCP65 MPU Address Decode-backups/*
/Kicad/Computer/MPU/HCP65 Device Interrupts/HCP65 Device Interrupts-backups/*
/Kicad/Computer/MPU/HCP65 Device Reset/HCP65 Device Reset-backups/*
/Kicad/Computer/MPU/HCP65 Main Memory Address/HCP65 Main Memory Address-backups/*
/Kicad/Computer/MPU/HCP65 Main Memory Data/HCP65 Main Memory Data-backups/*
/Kicad/Computer/MPU/HCP65 MPU NMI/HCP65 MPU NMI-backups/*
/Kicad/Computer/UART/RS232/RS232-backups/*
/Kicad/Computer/Main/Clock Generator/Clock Generator-backups/*
/Kicad/Computer/Main/Clock LTC6903/Clock LTC6903-backups/*
/Kicad/Computer/Main/Clock Oscillator/Clock Oscillator-backups/*
/Kicad/Computer/Main/Clock Push Button/Clock Push Button-backups/*
/Kicad/Computer/MPU/HCP65 MPU Timer/HCP65 MPU NMI-backups/*
/Kicad/Computer/MPU/HCP65 MPU Timer/HCP65 MPU Timer-backups/*
/Kicad/Computer/MPU/HCP65 Test MPU Board/HCP65 Test MPU Board-backups/*
/Kicad/Computer/Main/Dual MPU Clock Generator/Dual MPU Clock Generator-backups/*
/Kicad/Computer/MPU/HCP65 Instruction Code/HCP65 Instruction Code-backups/*
/Kicad/Computer/Main/Quad MPU Clock Generator/Quad MPU Clock Generator-backups/*
/Kicad/Computer/LCD/LCD Board/LCD Board-backups/*
/Kicad/Computer/LCD/LCD Board/VIA Board-backups/*
/Kicad/Computer/LCD/LCD Display/LCD Display-backups/*
/Kicad/Computer/SNES/SNES Clock/SNES Clock-backups/*
/Kicad/Computer/SNES/SNES Controller Clock/SNES Controller Clock-backups/*
/Kicad/Computer/SNES/SNES Controller Reader/SNES Clock-backups/*
/Kicad/Computer/SNES/SNES Controller Reader/SNES Controller Reader-backups/*
/Kicad/Computer/MPU/HCP65 MPU Address Decode Wide/HCP65 MPU Address Decode Wide-backups/*
/Kicad/Computer/Main/Triple MPU Clock Generator/Triple MPU Clock Generator-backups/*
/Kicad/Computer/MPU/HCP65 Device Interrupts Wide/HCP65 Device Interrupts Wide-backups/*
/Kicad/Computer/Graphics/Blank and Sync/Blank and Sync-backups/*
/Kicad/Computer/Video/Address Selector 24bit/Address Selector 24bit-backups/*
/Kicad/Computer/Video/Blank and Sync/Blank and Sync-backups/*
/Kicad/Computer/Video/Pixel Doubler/Pixel Doubler-backups/*
/Kicad/Computer/Video/Video Counter 12bit/Video Counter 12bit-backups/*
/Kicad/Computer/Component Boards/Comparator 10bit/Comparator 10bit-backups/*
/Kicad/Computer/Component Boards/Comparator 10bit/Video Address Selector-backups/*
/Kicad/Computer/Video/Video Address Counter/Video Address Counter-backups/*
/Kicad/Computer/Video/Video Address Selector/Video Address Selector-backups/*
/Kicad/Computer/Video/Video Board/Video Board-backups/*
/Kicad/Computer/Video/Video Address Reader/Video Address Reader-backups/*
/Kicad/Tester/Signal Tester Left/Signal Tester Left-backups/*
/Kicad/Tester/Signal Tester Right/Signal Tester Right-backups/*
/Kicad/Tester/Bus Tester/Bus Tester-backups/*
/Kicad/Computer/Component Boards/GPIO 16bit/GPIO 16bit-backups/*
/Kicad/Pico/Pico Wide GPIO/Pico Wide GPIO-backups/*
/Kicad/Computer/Component Boards/Address Buffer 16bit/Address Buffer 16bit-backups/*
/Kicad/Computer/Component Boards/Address Buffer 24bit/Address Buffer 24bit-backups/*
/Kicad/Computer/Main/Processor Board/Processor Board-backups/*
/Kicad/Computer/Main/Mainboard Small/Mainboard Small-backups/*
/Kicad/Computer/Main/Default Board/Default Board-backups/*
/Kicad/Computer/Main/Main Memory Select/Main Memory Select-backups/*
/Kicad/Computer/MPU/W65C816 Debug Display/W65C816 Debug Display-backups/*
/Kicad/Pico/GPIO Address Decode/GPIO Address Decode-backups/*
/Kicad/Pico/Pico/GPIO 16bit-backups/*
/Kicad/Pico/Pico/Pico-backups/*
/Kicad/Temp/Latch Slow/Latch Slow-backups/*
/Kicad/Computer/Component Boards/D Flip Flop 24bit/D Flip Flop 24bit-backups/*
/Kicad/Computer/Video/Video Address Output/Address Buffer 24bit-backups/*
/Kicad/Computer/Video/Video Address Output/Video Address Output-backups/*
/Kicad/Computer/Video/Video Address Output/Video Signals Output-backups/*
/Kicad/Computer/Video/Video Signals Output/Video Signals Output-backups/*
/Kicad/Computer/Video/Video Memory 2MB/Video Memory 2MB-backups/*
/Kicad/Computer/Component Boards/D Flip Flop 16bit/D Flip Flop 16bit-backups/*
/Kicad/Computer/Old/Video Timer/Video Timer-backups/*
/Kicad/Desk Lamp/Battery Charger/Battery Charger-backups/*
/Kicad/Computer/Component Boards/Selector 18bit/Selector 18bit-backups/*
/Kicad/Computer/Video/Video Device RAM Select/Video Device RAM Select-backups/*
/Kicad/Computer/Video/Video Main Memory Select/Video Main Memory Select-backups/*
/Kicad/Computer/Video/Video DAC/Video DAC-backups/*
/Kicad/Computer/Video/Video Signal Dragger/Video Signal Dragger-backups/*
/Kicad/Computer/Component Boards/Selector 1-of-4 4bit/Selector 1-of-4 4bit-backups/*
/Kicad/Computer/Video/Video Clock/Video Clock-backups/*
/Kicad/Computer/Video/Video Board - Memory/Video Board - Memory-backups/*
/Kicad/Computer/Video/Video Board - Signals/Video Board - Signals-backups/*
/Kicad/Computer/Component Boards/Selector 1-of-4 4bit with Input/Selector 1-of-4 4bit with Input-backups/*
/Kicad/Computer/Main/Main Memory Abort/Main Memory Abort-backups/Main Memory Abort-2024-05-15_172134.zip
/Kicad/Computer/Main/Main Memory Abort/Main Memory Abort-backups/*
/Kicad/Computer/Main/Main Memory Channel/Main Memory Channel-backups/*
/Kicad/Computer/Main/Hex LCD Device/Hex LCD Device-backups/*
/Kicad/Computer/Video/Video Data Select/Video Data Select-backups/*
/Kicad/Computer/Video/Video Row Latch/Video Row Latch-backups/*
/Kicad/Computer/Main/Processor Board/~Processor Board.kicad_sch.lck
/Kicad/Computer/Main/Processor Board/freerouting.dsn
/Kicad/Computer/Main/Processor Board/gui_defaults.par.bak
/Kicad/Computer/Sound/Sound Board/~Sound Board.kicad_sch.lck
/Kicad/Computer/MPU/W65C816 Latch/W65C816 Latch-backups/*
/Kicad/Computer/VIA/VIA Control/VIA Control-backups/*
/Kicad/Computer/Component Boards/Clock Transition/Clock Transition-backups/*
/Kicad/Speed/Processor Board-backups/*
/Kicad/Speed/Speed-backups/*
/Kicad/Computer/SD Card/SD Card Board/SD Card Board-backups/*
/Kicad/Computer/SD Card/SD Card Clock/SD Card Clock-backups/*
/Kicad/Computer/Component Boards/Clock Doubler/Clock Doubler-backups/*
/Kicad/Computer/SD Card/SD Card Read Data/Clock Doubler-backups/*
/Kicad/Computer/SD Card/SD Card Read Data/SD Card Read Data-backups/*
