/Kicad/65C816_Unit/65C816_Unit.sch-bak
/Kicad/65C816_Unit/fp-info-cache
/Pico/LCDBusReader/build/
/Kicad/65C816_Unit/LCD Bus Reader/Gerber
/Kicad/65C816_Unit/LCD Bus Reader/fp-info-cache
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.kicad_pcb-bak
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.sch-bak
/Kicad/65C816 Unit/fp-info-cache
/Kicad/LCD Bus Reader/fp-info-cache
/Kicad/65C816 Unit/65C816_Unit.sch-bak
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.kicad_pcb-bak
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.sch-bak
/Kicad/LCD Bus Reader/LCD Bus Reader.kicad_pcb-bak
/Kicad/LCD Bus Reader/LCD Bus Reader.sch-bak
/Kicad/65C816 Unit/65C816_Unit.kicad_pcb-bak
/Emulator65816/.vs*
/Emulator65816/Debug*
/Emulator65816/Release*
/logi6502/.idea/*
/logi6502/out/*
/Kicad/Clock/Clock-backups/*
/Kicad/Clock/_autosave-Clock.kicad_pcb
/Kicad/Computer/Computer-backups/*
*.DS_Store
/Website/HCP65_exported/*
/Kicad/Computer/SNES Device/SNES Device-backups/*
/Kicad/Computer/SNES Device/#auto_saved_files#
/Kicad/*.bak
/Website/index.html_backup
/logi65816/.idea
*.~lock.*
/Kicad/Computer/Keypad/Keypad/Keypad-backups
/Kicad/Computer/Bus Tester/Bus Tester/Bus Tester-backups
/Kicad/Computer/Bus Tester/Bus Tester-backups*
/Kicad/Computer/Clock/Clock-backups
/Kicad/Computer/Selector State/Selector State-backups
/Kicad/Computer/Clock/Clock-backups
/Kicad/Computer/Clock/#auto_saved_files#
/Kicad/Computer/Clock/_autosave*
/Kicad/Computer/Bus Tester/#auto_saved_files#
/Kicad/Computer/Blank Board/Blank Board-backups
/Kicad/Computer/Selector State/Selector State-backups
/Seven Segment/tmpcsim.im
/Seven Segment/DUALHEX7SEG.abs
/Seven Segment/DualHex7Seg.jed
/Seven Segment/DUALHEX7SEG.pdf
/Seven Segment/DUALHEX7SEG.pla
/Seven Segment/DUALHEX7SEG.sim
/Kicad/Computer/MPU Signals/MPU Signals-backups
#auto_saved_files#
/Kicad/Computer/MPU Signals/MPU Signals-backups
/Kicad/Computer/MPU Signals/fp-info-cache
