/Kicad/65C816_Unit/65C816_Unit.sch-bak
/Kicad/65C816_Unit/fp-info-cache
/Pico/LCDBusReader/build/
/Kicad/65C816_Unit/LCD Bus Reader/Gerber
/Kicad/65C816_Unit/LCD Bus Reader/fp-info-cache
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.kicad_pcb-bak
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.sch-bak
/Kicad/65C816 Unit/fp-info-cache
/Kicad/LCD Bus Reader/fp-info-cache
/Kicad/65C816 Unit/65C816_Unit.sch-bak
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.kicad_pcb-bak
/Kicad/65C816_Unit/LCD Bus Reader/LCD Bus Reader.sch-bak
/Kicad/LCD Bus Reader/LCD Bus Reader.kicad_pcb-bak
/Kicad/LCD Bus Reader/LCD Bus Reader.sch-bak
